/* body {
  background: #000;
  line-height: 26px;
  margin: 0;
} */

.App {
  height: 75vh;
  margin-top: 15vh;
}

/* form {
  margin-top: 20px;
} */

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submitBtn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #f45532;
  border: none;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

.infoBranchBlock {
  position: relative;
  margin-bottom: 30px;
}
.infoBranchBlock .innerBox {
  position: relative;
  border-radius: 5px;
  padding: 30px 35px;
  background-color: rgba(23, 182, 230, 0.7);
}
.infoBranchBlock .innerBox .text {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9em;
}
.infoBranchBlock .innerBox .direction {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.form {
  background: #e6e7e8;
  padding: 25px;
}

.red {
  color: red;
}

.bgRed {
  background-color: #f45532;
}
