:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/*
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Enable dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjusts the position */
}

.navbar-nav .dropdown:hover .nav-link {
  color: #007bff; /* Change color on hover */
}

.navbar-nav .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
.content-wrapper {
  /* width: 90%; */
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 20px; */
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Titillium Web, sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.fixHeight {
  min-height: 650px;
}

.table-rounded {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.menu-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.custom-navbar {
  background-color: #4a90e2;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #383533;
  transition: width 0.3s ease;
}

/* .sidebar:hover {
  width: 250px;
} */

.sidebar ul {
  padding-left: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar .nav-link {
  color: white;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.sidebar .nav-link:hover {
  background-color: #495057;
}

.sidebar .nav-link .icon {
  margin-right: 10px;
}

.sidebar:hover .nav-link .link-text {
  display: inline;
}

.link-text {
  display: inline;
}

/* Page content */
.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar:hover + .content {
  margin-left: 250px;
}

.white {
  color: white;
}

.bgColor {
  background-color: #155264;
}

.cursor {
  cursor: pointer;
}

.input {
  height: 12rem;
  background-color: #f7fafc;
  border: 2px solid #d1d5db;
  border-radius: 0.5rem;
}
input.invoice-input {
  border: 1px solid #767676;
  padding: 8px;
  background: #f8f9fa;
  border-radius: 5px;
}
input.invoice-input:focus-visible {
  outline: 1px solid blue;
  border: 1px solid blue;
}
textarea.invoice-input {
  border: 1px solid #767676;
  padding: 8px;
  background: #f8f9fa;
  border-radius: 5px;
}
textarea.invoice-input:focus-visible {
  outline: 1px solid blue;
  border: 1px solid blue;
}

.hide {
  display: none;
}
