.backImage {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url("./wall-751342_1280.jpg");
  background-repeat: no-repeat; /* Avoids repeating the image */
  background-size: cover; /* Scales the image to cover the whole area */
  background-position: center; /* Centers the image */
}

.responsiveImage {
  height: auto;
}
